body {
  &.trueachievement-extras {
    &.ta-x-staff-walkthrough-improvements {
      main {
        max-width: unset;

        .admin-page {
          .walkthroughsummary {
            +.walkthroughpagelinks {
              flex-direction: column;

              a {
                &.next {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
