@import '../../variables';

/* stylelint-disable selector-id-pattern */
body {
  &.trueachievement-extras {
    &.ta-x-staff-walkthrough-improvements {
      .admin-page {
        .ta-x-staff-walkthrough-improvements-walkthrough-page-container {
          display: flex;

          #chWalkthroughPageVersions,
          #chWalkthroughPagePreview {
            margin-left: 0;
            position: unset;
            width: unset;
          }

          #chWalkthroughPagePreview {
            flex: 1;
          }

          #chWalkthroughPageVersions {
            height: 100%;

            &.ta-x-staff-walkthrough-improvements-walkthrough-page-sticky-page-history {
              position: relative;
              top:
                var(
                  --ta-x-staff-walkthrough-improvements-walkthrough-page-sticky-page-history-top,
                  $ta-x-staff-walkthrough-improvements-walkthrough-page-sticky-page-history-top
                );
            }

            &.ta-x-y-hide {
              transform: translateY(calc(-1 * var(--ta-x-sticky-header-height, $ta-x-sticky-header-height)));
              transition: transform .5s ease;

              &-no-transition {
                transform: translateY(calc(-1 * var(--ta-x-sticky-header-height, $ta-x-sticky-header-height)));
              }
            }

            .content {
              .buttons {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .button {
                  flex: 1;

                  &:not(:first-of-type) {
                    margin-top: 5px;
                  }
                }

                .clearboth {
                  display: none;
                }
              }
            }
          }

          &.ta-x-staff-walkthrough-improvements-walkthrough-page-move-buttons-to-left {
            #chWalkthroughPagePreview {
              .content {
                .buttons {
                  display: none;

                  .clearboth {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* stylelint-enable selector-id-pattern */
