{{includes
  "@ta-x-partials/ask-loader-section.hbs"
  section-classes="js-ta-x-game-achievements-gamertag-nation-guides ta-x-game-achievements-gamertag-nation-guides"
  section-title="Gamertag Nation Guides"
  ask-information="Please enter a direct link to this game from <a href='https://www.gamertagnation.com/' target='_blank'>GamertagNation.com</a>, I'll remember it next time!"
  ask-label="GamertagNation Url"
  label-id="txtGameAchievementsGamertagNationGuides"
  input-id="btnGameAchievementsGamertagNationGuidesSave"
}}