{{includes
  "@ta-x-partials/ask-loader-section.hbs"
  section-classes="js-ta-x-game-achievements-playstation-trophy-guides ta-x-game-achievements-playstation-trophy-guides"
  section-title="Playstation Trophy Guides"
  ask-information="Please enter a direct link to this game from <a href='https://www.playstationtrophies.org/' target='_blank'>PlaystationTrophies.org</a>, I'll remember it next time!"
  ask-label="PlaystationTrophies Url"
  label-id="txtGameAchievementsPlaystationTrophyGuides"
  input-id="btnGameAchievementsPlaystationTrophyGuidesSave"
}}