<div
  class="ta-x-settings-menu-settings-accordion"
  data-render-condition='{ "selector": "#chkNewsImprovements", "checked": true }'
>
  {{includes
    "@ta-x-partials/accordion-header.hbs"
    title="Sales"
    expanded=false
  }}

  <div class="ta-x-settings-menu-settings-accordion-body t-settings">
    <div class="ta-x-settings-menu-columned-setting">
      {{includes
        "@ta-x-partials/checkbox-setting.hbs"
        label="Sort Sales By"
        id="chkNewsImprovementsSalesAutoSortBy"
        config-path="newsImprovements.sales.autoSortBy"
      }}

      {{includes
        "@ta-x-partials/select-setting.hbs"
        render-condition='{ "selector": "#chkNewsImprovementsSalesAutoSortBy", "checked": true }'
        id="selNewsImprovementsSalesAutoSortByValue"
        config-path="newsImprovements.sales.autoSortByValue"
        helper-text="This option may not work on some tables. Let me know what you spot!"
        helper-render-condition='{ "selector": "#selNewsImprovementsSalesAutoSortByValue", "value": "completion-time,ta-ratio" }'
        is-array="true"
        array-split=","
        options='[
                        { "value": "product,game", "text": "Product", "selected": true },
                        { "value": "sale-price", "text": "Sale Price" },
                        { "value": "discount", "text": "Discount" },
                        { "value": "completion-time", "text": "Completion Time" },
                        { "value": "ta-ratio", "text": "TA Ratio" }]'
      }}

      {{includes
        "@ta-x-partials/select-setting.hbs"
        render-condition='{ "selector": "#chkNewsImprovementsSalesAutoSortBy", "checked": true }'
        id="selNewsImprovementsSalesAutoSortByOrder"
        config-path="newsImprovements.sales.autoSortByOrder"
        options='[
                        { "value": "asc", "text": "Ascendening", "selected": true },
                        { "value": "desc", "text": "Descending" }]'
      }}
    </div>
  </div>
</div>