body {
  &.trueachievement-extras {
    .ta-x-tabs {
      &-link-container {
        display: flex;
        overflow-x: auto;
        margin: -1rem;
        margin-bottom: 0.5rem;
        -ms-overflow-style: none;
        scrollbar-width: none;

        li {
          flex-shrink: 0;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        &.ta-x-tabs-scroll {
          cursor: grabbing;
          transform: scale(1);

          .ta-x-tabs-link {
            cursor: grabbing;
          }
        }
      }

      &-link {
        padding: 0.6rem 0.75rem;
        user-select: none;

        &.ta-x-tabs-selected {
          border-bottom: 2px solid;
          pointer-events: none;
          background: #e8e8e8;
        }

        &:hover {
          border-bottom: 2px solid;
          cursor: pointer;
        }

        &:nth-child(1),
        &:nth-child(11) {
          border-color: #58bb12;
        }

        &:nth-child(2),
        &:nth-child(12) {
          border-color: #2871a4;
        }

        &:nth-child(3),
        &:nth-child(13) {
          border-color: #cf1812;
        }

        &:nth-child(4),
        &:nth-child(14) {
          border-color: #c42d78;
        }

        &:nth-child(5),
        &:nth-child(15) {
          border-color: #9b30ff;
        }

        &:nth-child(6),
        &:nth-child(16) {
          border-color: #f57921;
        }

        &:nth-child(7),
        &:nth-child(17) {
          border-color: #294a7d;
        }

        &:nth-child(8),
        &:nth-child(18) {
          border-color: #000;
        }

        &:nth-child(9),
        &:nth-child(19) {
          border-color: #fff;
        }

        &:nth-child(10),
        &:nth-child(20) {
          border-color: #e9b949;
        }
      }

      &-content {
        display: none;
        height: 10rem;
        overflow-y: auto;
        margin-right: -1rem;

        &[data-tab-visible] {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }

    [data-theme='dark'] {
      .ta-x-tabs {
        &-selected {
          background: #282828;
        }
      }
    }
  }
}
