body {
  &.trueachievement-extras {
    .ta-x-tabs {
      &-link-container {
        display: flex;
        overflow-x: auto;
        margin: -1rem;
        margin-bottom: 0.5rem;
        -ms-overflow-style: none;
        scrollbar-width: none;

        li {
          flex-shrink: 0;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        &.ta-x-tabs-scroll {
          cursor: grabbing;
          transform: scale(1);

          .ta-x-tabs-link {
            cursor: grabbing;
          }
        }
      }

      &-link {
        padding: 0.6rem 0.75rem;
        user-select: none;

        &.ta-x-tabs-selected {
          border-bottom: 2px solid;
          pointer-events: none;
          background: #e8e8e8;

          &[data-border-top] {
            border-bottom: 0;
            border-top: 2px solid;
          }

          // These were made important to override the border
          // color of the selected tab on import-guides
          &:nth-child(1),
          &:nth-child(11) {
            border-color: #58bb12 !important;
          }

          &:nth-child(2),
          &:nth-child(12) {
            border-color: #2871a4 !important;
          }

          &:nth-child(3),
          &:nth-child(13) {
            border-color: #cf1812 !important;
          }

          &:nth-child(4),
          &:nth-child(14) {
            border-color: #c42d78 !important;
          }

          &:nth-child(5),
          &:nth-child(15) {
            border-color: #9b30ff !important;
          }

          &:nth-child(6),
          &:nth-child(16) {
            border-color: #f57921 !important;
          }

          &:nth-child(7),
          &:nth-child(17) {
            border-color: #294a7d !important;
          }

          &:nth-child(8),
          &:nth-child(18) {
            border-color: #000 !important;
          }

          &:nth-child(9),
          &:nth-child(19) {
            border-color: #fff !important;
          }

          &:nth-child(10),
          &:nth-child(20) {
            border-color: #e9b949 !important;
          }
        }

        &:hover {
          border-bottom: 2px solid;
          cursor: pointer;

          &[data-border-top] {
            border-bottom: 0;
            border-top: 2px solid;
          }
        }
      }

      &-content {
        display: none;

        &[data-tab-visible] {
          display: block;
        }
      }
    }

    [data-theme='dark'] {
      .ta-x-tabs {
        &-selected {
          background: #282828;
        }
      }
    }
  }
}
