<div class="ta-x-settings-menu-settings-accordion" style="padding-top: 0;">
    {{ includes "@ta-x-partials/accordion-header.hbs" title="Forum Improvements" expanded=false config-path="forumImprovements.enabled" asCheckbox=true id="chkForumImprovements" }}

    <div class="ta-x-settings-menu-settings-accordion-body t-settings" data-parent-accordion-body>
        {{ includes "./walkthroughs/settings.hbs" }}
    </div>
</div>