<div
  class="mce-container mce-last mce-flow-layout-item mce-btn-group js-ta-x-staff-walkthrough-improvements-edit-walkthrough-page-theme-toggle ta-x-staff-walkthrough-improvements-edit-walkthrough-page-theme-toggle"
  role="group"
>
  <div>
    <div
      class="mce-widget mce-btn mce-first"
      tabindex="-1"
      role="button"
      aria-label="Switch theme"
    >
      <button
        role="presentation"
        type="button"
        tabindex="-1"
        data-ta-x-tinymce-theme
      >
        {{includes
          "@ta-x-svgs/moon.hbs"
          classes="ta-x-staff-walkthrough-improvements-edit-walkthrough-page-theme-toggle-dark"
        }}
        {{includes
          "@ta-x-svgs/sun.hbs"
          classes="ta-x-staff-walkthrough-improvements-edit-walkthrough-page-theme-toggle-light"
        }}
      </button>
    </div>
    <div
      class="mce-widget mce-btn mce-last"
      tabindex="-1"
      role="button"
      aria-label="Show Code"
    >
      <button
        role="presentation"
        type="button"
        tabindex="-1"
        class="js-ta-x-staff-walkthrough-improvements-edit-walkthrough-page-source-code ta-x-staff-walkthrough-improvements-edit-walkthrough-page-source-code-button"
      >
        {{includes "@ta-x-svgs/code.hbs"}}
      </button>
    </div>
  </div>
</div>