<!-- <section class="red js-recent-winners hide">
    <div>Recent Winners</div>
    <article>
        <div style="text-align: center;">
            <p>Please wait, loading recent winners.</p>
            <img src="/images/loading.gif" style="width: 25px; height: 25px; margin: 0 auto;">
            <p class="js-recent-winners-load-progress" style="margin-bottom: 0; margin-top: .9rem;" data-load-progress="0" data-achievement-count="0" data-winner-count="0">Loading...</p>
        </div>
    </article>
</section> -->