<div class="js-ta-x-settings-menu-wrench gamer-page" aria-haspopup="true">
    <i class="fa fa-wrench"></i>
</div>

<div class="js-ta-x-settings-menu ta-x-settings-menu ta-x-hide">
    <div class="middle">
        <div class="wrap">
            <div class="labels">
                <label class="js-ta-x-settings-menu-close close">
                    <i class="fa fa-close"></i>
                </label>
            </div>
            <div class="contents">
                <div class="t-settings optionpanel t-5 open" >
                    <div>
                        <label>Sticky Header</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkStickyHeader" name="chkStickyHeader" data-config-area="stickyHeader"
                                data-config-setting="enabled" checked="">
                            <label for="chkStickyHeader"> </label>
                        </div>
                    </div>
                    <div>
                        <label>Staff Walkthrough Improvements</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkStaffWalkthroughImprovements" name="chkStaffWalkthroughImprovements" data-config-area="staffWalkthroughImprovements"
                                data-config-setting="enabled" checked="">
                            <label for="chkStaffWalkthroughImprovements"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkStaffWalkthroughImprovements", "value": "true" }' class="ta-x-hide">
                        <label class="ta-x-settings-menu-sub-setting">Stick Page History To Left</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkStaffWalkthroughImprovementsStickyPageHistory" name="chkStaffWalkthroughImprovementsStickyPageHistory"
                                data-config-area="staffWalkthroughImprovements" data-config-setting="stickyPageHistory" checked="">
                            <label for="chkStaffWalkthroughImprovementsStickyPageHistory"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkStaffWalkthroughImprovements", "value": "true" }' class="ta-x-hide">
                        <label class="ta-x-settings-menu-sub-setting">Move Edit Page Button To The Left</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkStaffWalkthroughImprovementsEditPageLeft" name="chkStaffWalkthroughImprovementsEditPageLeft"
                                data-config-area="staffWalkthroughImprovements" data-config-setting="editPageLeft" checked="">
                            <label for="chkStaffWalkthroughImprovementsEditPageLeft"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkStaffWalkthroughImprovements", "value": "true" }' class="ta-x-hide">
                        <label class="ta-x-settings-menu-sub-setting">Add Walkthrough Team Button</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkStaffWalkthroughImprovementsWalkthroughTeamButton" name="chkStaffWalkthroughImprovementsWalkthroughTeamButton"
                                data-config-area="staffWalkthroughImprovements" data-config-setting="walkthroughTeamButton" checked="">
                            <label for="chkStaffWalkthroughImprovementsWalkthroughTeamButton"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkStaffWalkthroughImprovements", "value": "true" }' class="ta-x-hide">
                        <label class="ta-x-settings-menu-sub-setting">Improved Image Selector</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkStaffWalkthroughImprovementsImproveImageSelector" name="chkStaffWalkthroughImprovementsImproveImageSelector"
                                data-config-area="staffWalkthroughImprovements" data-config-setting="improvedImageSelector" checked="">
                            <label for="chkStaffWalkthroughImprovementsImproveImageSelector"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkStaffWalkthroughImprovements", "value": "true" }' class="ta-x-hide ta-x-settings-menu-sub-setting-wrapable">
                        <label class="ta-x-settings-menu-sub-setting">Default Status for Manage Walkthrough</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkStaffWalkthroughImprovementsManageWalkthroughDefaultStatus" name="chkStaffWalkthroughImprovementsManageWalkthroughDefaultStatus"
                                data-config-area="staffWalkthroughImprovements" data-config-setting="manageWalkthroughDefaultStatus" checked="">
                            <label for="chkStaffWalkthroughImprovementsManageWalkthroughDefaultStatus"> </label>
                        </div>
                        <div data-render-condition='{ "selector": "#chkStaffWalkthroughImprovementsManageWalkthroughDefaultStatus", "value": "true" }' class="frm-grp frm-sel ta-x-hide">
                            <select id="selStaffWalkthroughImprovementsManageWalkthroughDefaultStatusValue" name="selStaffWalkthroughImprovementsManageWalkthroughDefaultStatusValue"  data-config-area="staffWalkthroughImprovements" data-config-setting="manageWalkthroughDefaultStatusValue" class="dropdown">
                                <option value="-1" selected="">(All)</option>
                                <option value="New">New</option>
                                <option value="In progress">In progress</option>
                                <option value="Ready for review">Ready for review</option>
                                <option value="Ready for publish">Ready for publish</option>
                                <option value="Published">Published</option>
                                <option value="New owner required">New owner required</option>
                            </select>
                        </div>
                    </div>

                    <!-- <div>
                        <label>Show recent winners</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkRecentWinners" name="chkRecentWinners"
                                data-config-area="recentWinners" data-config-setting="enabled" checked="">
                            <label for="chkRecentWinners"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkRecentWinners", "value": "true" }' class="ta-x-hide">
                        <label class="ta-x-settings-menu-sub-setting">Online unlocks only</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkRecentWinnersOnlineUnlocksOnly" name="chkRecentWinnersOnlineUnlocksOnly"
                                data-config-area="recentWinners" data-config-setting="onlineUnlocksOnly" checked="">
                            <label for="chkRecentWinnersOnlineUnlocksOnly"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkRecentWinners", "value": "true" }' class="ta-x-hide">
                        <label class="ta-x-settings-menu-sub-setting">Base game only</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkRecentWinnersBaseGameOnly" name="chkRecentWinnersBaseGameOnly"
                                data-config-area="recentWinners" data-config-setting="baseGameOnly" checked="">
                            <label for="chkRecentWinnersBaseGameOnly"> </label>
                        </div>
                    </div> -->

                    <ul class="list-links buttons">
                        <li><a href="https://github.com/andrewcartwright1/trueachievements-extra/issues/new">Raise a Bug</a></li>
                        <li><a href="https://github.com/andrewcartwright1/trueachievements-extra/issues/new">Request a Feature</a></li>
                    </ul>
                    <div class="title">
                        <span>TrueAchievements Extra</span>
                        </br>
                        <span>Version {GM_info.script.version}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="js-ta-x-settings-menu-close close"></div>
</div>