<div class="ta-x-settings-menu-settings-accordion">
    {{ includes "@ta-x-partials/accordion-header.hbs" title="News Improvements" expanded=false config-path="newsImprovements.enabled" asCheckbox=true id="chkNewsImprovements" }}

    <div class="ta-x-settings-menu-settings-accordion-body t-settings" data-parent-accordion-body>
        {{ includes "./sales/settings.hbs" }}
    </div>
</div>