body {
  &.trueachievement-extras {
    &.ta-x-forum-improvements {
      [data-thread-hidden='true'] {
        .last,
        .stats,
        .author-pages,
        .read,
        .stack {
          display: none;
        }

        p {
          &.ta-x-forum-improvements-filter-threads-title {
            font-weight: 700;
            font-size: 1.6rem;
          }

          &:not(.ta-x-forum-improvements-filter-threads-title) {
            display: none;
          }
        }

        a {
          &.ta-x-forum-improvements-filter-threads-unhide {
            font-size: 1.4rem;
          }
        }
      }

      [data-thread-hidden='false'] {
        p {
          &.ta-x-forum-improvements-filter-threads-title {
            display: none;
          }
        }

        a {
          &.ta-x-forum-improvements-filter-threads-unhide {
            display: none;
          }
        }
      }
    }
  }
}
