body {
  &.trueachievement-extras {
    &.ta-x-forum-improvements {
      .ta-x-forum-improvements-walkthroughs-show-owner-progress {
        &:not([data-ta-x-loaded]) {
          article {
            display: block;
          }
        }

        article {
          display: flex;
          justify-content: space-between;

          .walthroughprogress {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .walkthroughauthor {
              margin-right: 1rem;
            }

            .clearboth {
              display: none;
            }
          }

          .ta-x-forum-improvements-walkthroughs-show-owner-progress-editor-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-basis: 100%;
          }

          .ta-x-forum-improvements-walkthroughs-show-owner-progress-editor-row {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .ta-x-forum-improvements-walkthroughs-show-owner-progress-editor {
            margin-left: 1rem;
          }

          .thanks {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 1rem;
            justify-content: center;
          }
        }
      }
    }
  }
}
