body {
  &.trueachievement-extras {
    .ta-x-settings-menu {
      &-settings {
        max-height: 547px;
        overflow-y: scroll !important;
        padding: 0 1rem !important;
        padding-bottom: 1rem !important;
        height: 100%;
        position: relative;

        > div {
          display: block;
          padding: 0;
        }

        .frm-grp {
          user-select: none;
          margin-right: 0;
        }

        .frm-sel {
          &::after {
            top: 10px;
          }
        }

        .t-settings {
          > div {
            flex-wrap: wrap;

            > label {
              max-width: 80%;
            }
          }

          .ta-x-checkbox-help-text {
            font-size: 1.2rem;
            padding-top: 0.5rem;
          }

          .ta-x-listbox {
            padding-top: 1rem;
            border-bottom: 0;

            > label {
              padding-bottom: 0.5rem;
              display: block;
            }

            .frm-lst {
              width: 100%;
              flex-wrap: wrap;
              justify-content: space-between;

              input {
                &.textbox {
                  flex: 1;
                }

                &[type='submit'] {
                  margin-left: 1rem;
                }
              }

              ul {
                width: 100%;

                li {
                  > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    p {
                      word-break: break-all;
                    }

                    a {
                      margin-left: 1rem;
                    }
                  }
                }
              }
            }
          }
        }

        .ta-x-settings-menu-settings-item {
          position: absolute;
          display: none;
          width: 313px;
          padding-bottom: 1rem;

          &-show {
            display: block;
          }

          .ta-x-settings-menu-credits-wrapper,
          .ta-x-settings-menu-changelog-wrapper,
          .ta-x-settings-menu-documentation-wrapper {
            display: flex;
            flex-wrap: wrap;

            a {
              width: 100%;
            }

            h1,
            h2 {
              width: 100%;
              line-height: unset;
            }

            h1 {
              margin-bottom: 1rem;
            }

            h2 {
              border-top: 2px solid #0e5814;
              border-bottom: 2px solid #0e5814;
              padding: 0.5rem;
              font-size: 1.6rem;
              margin: 1rem 0;
            }

            p {
              font-size: 1.4rem;
            }
          }

          .ta-x-settings-menu-documentation-wrapper {
            padding-bottom: 0;
            border: 0;

            h1 {
              &:not(:first-of-type) {
                padding: 0.5rem 0;
                margin-top: 1rem;
                border-bottom: 2px solid #0552b5;
                border-top: 2px solid #0552b5;
              }
            }

            h2 {
              &:first-of-type {
                margin-top: 0;
                margin-bottom: 1rem;
              }
            }
          }

          .ta-x-settings-menu-credits-wrapper {
            padding-top: 0;
            padding-bottom: 0;
            border: 0;

            h1 {
              border-top: 2px solid #e9b949;
              border-bottom: 2px solid #e9b949;
              padding: 0.5rem 0;
              margin-top: 0.5rem;
              margin-bottom: 0;
            }
          }

          .ta-x-settings-menu-changelog-wrapper {
            border-bottom: 0;

            h2 {
              &:first-of-type {
                margin: 0;
              }
            }

            ul {
              margin-bottom: 0.5rem;
            }
          }

          .ta-x-markdown-marker {
            flex-basis: unset;
            align-self: center;
            padding-right: 1rem;
          }
        }

        .ta-x-settings-menu-settings-accordion {
          flex-wrap: wrap;
          border: 0;
          padding-bottom: 0;

          &:last-of-type {
            padding-bottom: 0;
          }

          &-header,
          &-body {
            width: 100%;
          }

          &-header {
            padding: 1rem;
            flex-shrink: unset;
            color: #3e4c59;
            cursor: pointer;
            user-select: none;
            background: #ccc;

            > label {
              color: #333 !important;
              padding: 0;
              text-align: left;
              pointer-events: none;
              font-weight: bold;
            }

            .frm-tgl {
              pointer-events: none;

              > label {
                padding: 0;
                pointer-events: none;
              }
            }

            span {
              width: 100%;
              pointer-events: none;
            }

            svg {
              height: 20px;
              pointer-events: none;
            }

            &.collapsed {
              svg {
                transition: all 0.5s linear;
              }
            }

            &.expanded {
              svg {
                transform: rotate(-180deg);
              }
            }
          }

          &-body {
            max-height: 0;
            transition: max-height 0.5s ease-out;
            overflow: hidden;

            &[data-parent-accordion-body] {
              border: 1px solid #ccc;
              border-top: 0;
              border-bottom-left-radius: 1rem;
              border-bottom-right-radius: 1rem;
              padding: 0;

              .ta-x-settings-menu-settings-accordion {
                margin: 0;
                padding: 0;

                &-header {
                  border-radius: 0;
                }
              }
            }
          }

          .t-settings {
            > div {
              padding: 1rem 0;
              margin: 0 1rem;

              &:last-of-type {
                border: 0;
              }
            }
          }
        }
      }

      &-columned-setting {
        flex-direction: column;
        align-items: flex-start;

        > div:first-of-type {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          > label {
            max-width: 80%;
          }
        }

        .frm-sel {
          padding-top: 1rem;
        }
      }

      &-bottom {
        background: #4a5568;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        padding: 0 1rem !important;

        .title {
          margin-bottom: 0;
          color: #ddd;
          border: 0;

          a {
            background: unset;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .close {
        i {
          pointer-events: none;
        }
      }
    }

    [data-theme='dark'] {
      .ta-x-settings-menu {
        &-bottom {
          .buttons {
            border-color: #000 !important;

            a {
              background: #4299e1 !important;
            }
          }
        }

        .ta-x-settings-menu-settings-accordion {
          &-header {
            color: #ddd;
            background: #222;

            > label {
              color: #ddd !important;
            }
          }

          &-body {
            &[data-parent-accordion-body] {
              border-color: #222;
            }
          }
        }
      }
    }
  }
}
