<div class="ta-x-settings-menu-settings-accordion">
    {{ includes "@ta-x-partials/accordion-header.hbs" title="Staff Walkthrough Improvements" expanded=false config-path="staffWalkthroughImprovements.enabled" asCheckbox=true id="chkStaffWalkthroughImprovements" }}

    <div class="ta-x-settings-menu-settings-accordion-body t-settings" data-parent-accordion-body>
        {{ includes "./walkthrough-page/settings.hbs" }}

        {{ includes "./edit-walkthrough/settings.hbs" }}

        {{ includes "./manage-walkthrough/settings.hbs" }}
    </div>
</div>