<div class="ta-x-settings-menu-settings-accordion" data-render-condition='{ "selector": "#chkStaffWalkthroughImprovements", "checked": true }'>
    {{ includes "@ta-x-partials/accordion-header.hbs" title="Walkthrough Preview" expanded=false }}

    <div class="ta-x-settings-menu-settings-accordion-body t-settings">
        {{ includes "@ta-x-partials/checkbox-setting.hbs"
            label="Populate Side Column Content"
            id="chkStaffWalkthroughImprovementsPopulateAsideContent"
            config-path="staffWalkthroughImprovements.walkthroughPreview.populateAsideContent"
            helper-render-condition='{ "selector": "#chkStaffWalkthroughImprovementsPopulateAsideContent", "checked": true }'
            helper-text="This feature only supports \"In Progress \" and \"Ready for review\" walkthroughs, let me know if you want it to support others!" }}
    </div>
</div>