@import 'variables';

:root {
  --ta-x-sticky-header-height: $ta-x-sticky-header-height;
}

body {
  &.trueachievement-extras {
    .ta-x-hide {
      display: none;
    }

    .middle {
      @media (max-width: 1349px) {
        width: 100%;
        max-width: 1200px;
      }

      @media (min-width: 576px) {
        .news-section {
          &.list {
            >section {
              &.highlight {
                margin: 5px 0;

                +section {
                  &.highlight {
                    margin-top: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .ta-x-flex-break {
      flex-basis: 100%;
      height: 0;
      border: 0;
      padding: 0;
      margin: 0;
    }

    .ta-x-article-loader {
      text-align: center;

      img {
        width: 25px;
        height: 25px;
        margin: 0 auto;
        margin-bottom: .8rem;
      }
    }

    [data-ta-x-loaded] {
      .ta-x-article-loader {
        display: none;
      }
    }
  }
}
