body {
  &.trueachievement-extras {
    .ta-x-y-show {
      transform: translateY(0);
      transition: transform .5s ease;
    }

    .ta-x-y-hide {
      transform: translateY(-100%);
      transition: transform .5s ease;

      &-no-transition {
        transform: translateY(-100%);
      }
    }

    // &.ta-x-y-hide-no-transition {
    //   transform: translateY(-100%);
    // }
  }
}
