// Device Breakpoints
$ta-x-mobile-breakpoint: 576px;
$ta-x-tablet-breakpoint: 768px;

// Both Themes
$ta-x-both-theme-online-status: #107c10;

// White Theme
$ta-x-white-theme-online-status-border: #d9d9d9;

// Dark Theme
$ta-x-dark-theme-online-status-border: #646464;

// TA-X Dynamics
$ta-x-sticky-header-height: 0;
$ta-x-staff-walkthrough-improvements-walkthrough-page-sticky-page-history-top: 0;
