<template id="ta-x-template-games-improvements-achievements-achievement-guide">
  <li>
    <div class="gamer ta-x-games-improvements-achievements-achievement-guide">
      <img
        src="/images/placeholder/thumb-ta.png"
        alt="{achievementGuideSolution.name}"
        class="bigicon"
        loading="lazy" />
      <a
        href="{achievementGuideSolution.href}"
        rel="nofollow"
        title=""
        data-tlite="">
        {achievementGuideSolution.name}
      </a>
      <div class="info">{achievementGuideSolution.info}</div>
    </div>
    <article>
      <div class="body">{achievementGuideSolution.guide}</div>
    </article>
  </li>
</template>
