<template id="online-online-recent-winner-row">
    <li>
        <i class="fa fa-circle green"></i>
        <a href="{link}">{name}</a>
        <span title="{achievement.name}">{unlockDate}</span>
    </li>
</template>

<template id="online-offline-recent-winner-row">
    <li>
        <i class="fa fa-circle green"></i>
        <a href="{link}">{name}</a>
        <span title="{achievement.name}">
            {unlockDate}
            <i class="fa fa-plug" title="This achievement was earned offline." style="margin-left: .9rem;"></i>
        </span>
    </li>
</template>

<template id="offline-online-recent-winner-row">
    <li>
        <i class="fa fa-circle red"></i>
        <a href="{link}">{name}</a>
        <span title="{achievement.name}">{unlockDate}</span>
    </li>
</template>

<template id="offline-offline-recent-winner-row">
    <li>
        <i class="fa fa-circle red"></i>
        <a href="{link}">{name}</a>
        <span title="{achievement.name}">
            {unlockDate}
            <i class="fa fa-plug" title="This achievement was earned offline." style="margin-left: .9rem;"></i>
        </span>
    </li>
</template>

<template id="no-winners-recent-winner-row">
    <div style="text-align: center;">
        <p style="margin-bottom: .4rem;">No recent winners found.</p>
    </div>
</template>